---
import '../styles/global.css';
import MainLayout from '../layouts/MainLayout.astro';
const pageTitle = 'About me';
const pageDescription = 'About my creative note keeping';
---

<MainLayout pageTitle={pageTitle} pageDescription={pageDescription}>
	<article>
		<h2>... and my new website!</h2>

		<p>Tell the world about yourself!</p>
	</article>
</MainLayout>
