---
import '../styles/global.css';
import MainLayout from '../layouts/MainLayout.astro';
const pageTitle = 'Your new website';
---

<MainLayout pageTitle={pageTitle}>
	<article>
		<h2>A template ready for your content</h2>
		<p>
			This website template is built with <a href='https://astro.build/'
				>Astro</a
			>, the web framework for content-driven websites.
		</p>
		<p>
			Get started by reading <a href='/notes/tour-of-the-astro-files'
				>A tour of your website</a
			>
		</p>
	</article>
</MainLayout>
