---
import '../styles/global.css';
import MainLayout from '../layouts/MainLayout.astro';
const pageTitle = 'My brand new Astro website 🚀';
---

<MainLayout pageTitle={pageTitle}>
	<article>
		<h2>This is an H2 on the home page</h2>
		<p>Welcome to this brand new website. It is ready for use.</p>
	</article>
</MainLayout>
