---
const { title, url, description } = Astro.props;
---

<li>
	<a href={url}>
		<div class='note'>
			<h3>{title}</h3>
			<p>{description}</p>
		</div>
	</a>
</li>

<style>
	li {
		list-style-type: none;
		margin: 1rem 0;
	}
	.note {
		background-color: var(--midWhite);
		padding: 2px 1.5rem;
		border-radius: 6px;
	}
	.note p {
		color: #333;
	}
	a {
		text-decoration: none;
	}
</style>
