---
import MainLayout from './MainLayout.astro';
const { frontmatter } = Astro.props;
---

<MainLayout pageTitle={frontmatter.title}>
	<p class='description'><em>{frontmatter.description}</em></p>
	<slot />
</MainLayout>

<style>
	.description {
		font-size: 1.1rem;
		text-align: center;
		text-wrap: balance;
	}
</style>
